<li class="list-group-item" id="subtaskitem_{{parent_index}}_{{subtask_index}}">
    <div class='subtask_container'>
        <div id="subtaskcheckboxwrap_{{parent_index}}_{{subtask_index}}" class="subtask-checkbox-wrap displayed">
            <input type="checkbox" class="taskcomplete-checkbox" id="subtaskcomplete_{{task_index}}">
            <label id="subtasktextlabel_{{parent_index}}_{{subtask_index}}" class="subtask_text_label">{{task_noneditable_text}}               
            </label>                                
        </div>         
        <!--
        <div class="task_edit_buttons subtask_edit_buttons" >
             <a href="#" id="edittasklink_{{parent_index}}_{{subtask_index}}" class="freetimeslider_subedit"><i class="fas fa-sliders-h"></i></a>            
             <a href="#" id="edittasktext_{{parent_index}}_{{subtask_index}}" class="tasktask_subedit"><i class="fas fa-edit"></i></a>
             <a href="#" id="deletetask_{{parent_index}}_{{subtask_index}}" class="delete_subtask"><i class="fas fa-trash-alt"></i></a>             
        </div>        
        <div class='task_freetime_slider' id="freetimeslidercontainer_{{parent_index}}_{{subtask_index}}">
            <div class='task_slider_container'>
                <input type="text" id="freetimeslider_{{parent_index}}_{{subtask_index}}" class="freetime_slider" name="freetime_slider" value="{{task_freetime_credits}}" />
            </div>
        </div>
        -->
        <!--
        <div class="task_delete_container subtask_delete" id="subtastkdelete_{{parent_index}}_{{subtask_index}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
        </div>
        -->
    </div>
</li>