	<center>
		<div id="owl_productivity_blockpage">
			<br>
			<h3 id="prodowl_block_heading">THIS WEBSITE IS BLOCKED</h3>
			<h4>{{current_url}}</h4>
			<table>
				<tr>
					<td>
						<button class="prodowl-button prodowl-button-sm" id="save_for_later">Save for Later</button>
					</td>
					<td>
						<button class="prodowl-button prodowl-button-sm" id="make_an_exception">Make an Exception</button>
					</td>
				</tr>
			</table>            			
			<div id="owl_container" name="owl_container">
				<br>
				<img id="owl_image" src="{{advice_owl_small}}" />
			</div>
            <br><br>
            <button class="owl_big_button" id ="view_your_tasks">VIEW YOUR TASKS</button>
		</div>
	</center>