	<center>
		<div id="owl_productivity_intervention">
            <div id="owl_productivity_blockpage">
                <h3>OWL INTERVENTION</h3>
                <h4>Complete the intervention within the time below or risk losing the Owl's respect</h4>
                <div id="intervention_timer">Loading</div>
                <div id="owl_intervention_container">
                    <img id="owl_image" class="intervention_owl" src="{{advice_owl_small}}" />
                </div>                
            </div>
            <div id='owl_all_interventions'>
                <div id="intervention_subtasks">
                    <h5>Create Subtask Intervention</h5>
                    <p class='prodowl-intervention-description'>  
                        To complete this intervention, you must create a subtask on the tasks page.  Breaking up your tasks into smaller 
                        pieces is a good start.  Not entering a subtask within the next few minutes will cause the owl to lose respect for you.  
                    </p>
                    <button class="prodowl-button" id="create_subtask_link">Go Create Subtask</button>                
                </div>
                <div class="prodowl-table-container" id='intervention_feelings'>
                    <p class='prodowl-intervention-description'>Recent research shows 
                        that procrastination is largely an emotional management problem.  One way to overcome procrastination related 
                        to negative emotions is to write down your feelings so you are aware of what's troubling you.  Sometimes it's not the task itself,
                        but something else on your mind.  
                    </p>
                    <p class='prodowl-intervention-description'>
                        In the table below write down what is bothering you.  Then describe your feelings about it.
                    </p>
                    <table class="prodowl-table" id='intervention_feelings_table'>
                        <thead>
                            <tr>
                                <th>Task OR Problem that is bothering you</th>
                                <th>Feelings and thoughts about it</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>click to edit</td>
                                <td>click to edit</td>
                            </tr>
                        </tbody>                      
                    </table>        
                    <div id="intervention_footer_buttons">
                        <button class="prodowl-button" id="intervention_table_addrow">Add Row</button>              
                        <button class="prodowl-button" id="intervention_table_submit">Submit</button>              
                    </div>
                    <br><Br><br><br><br>    
                </div>            
                <div class="prodowl-table-container" id="intervention_costbenefit">
                    <p class='prodowl-intervention-description'>
                        Sometimes people procrastinate without thinking of the consequences.  In the table below write down the
                        cost if you keep procrastinating a task, and alternatively if you completed the task quickly.   
                    </p>
                    <table class="prodowl-table" id='intervention_costbenefit_table'>
                        <thead>
                            <tr>
                                <th>Task/Project/Goal</th>
                                <th>Costs if you procrastinate</th>
                                <th>Benefits of acting quickly</th>
                            </tr>
                        </thead>
                        <tbody>
                                <td>click to edit</td>
                                <td>click to edit</td>                        
                                <td>click to edit</td>                            
                        </tbody>                     
                    </table>
                    <div id="intervention_footer_buttons">
                        <button class="prodowl-button" id="intervention_table_addrow">Add Row</button>              
                        <button class="prodowl-button" id="intervention_table_submit">Submit</button>              
                    </div>
                    <br><Br><br><br><br>                    
                </div>
                <div class="prodowl-table-container" id="intervention_intention">
                    <p class='prodowl-intervention-description'>
                    One way to help reduce distractions or obstacles is to be aware of them beforehand and make a decision to take a specific
                    action when they arise.  
                    </p>
                    <p class='prodowl-intervention-description'>In the table below enter at least one distraction or obstacle that might cause you to procrastinate a task you should be working on.
                        Then under the implementation intention column, write down "If ____, Then ____ statement to deal with the distraction.  For example, "If I get hungry before 1pm, I'm going to
                        keep sitting at my desk and chew gum instead."  
                    </p>
                    <table class="prodowl-table" id='intervention_intention_table'>
                        <thead>
                        <th>Distraction or Obstacle</th>
                        <th>Implementation Intention</th>
                        </thead>
                        <tbody>
                                <td>click to edit</td>
                                <td>click to edit</td>                                                  
                        </tbody>                        
                    </table>        
                    <div id="intervention_footer_buttons">
                        <button class="prodowl-button" id="intervention_table_addrow">Add Row</button>              
                        <button class="prodowl-button" id="intervention_table_submit">Submit</button>              
                    </div>
                    <br><Br><br><br><br>                    
                </div>            
            </div>
            <div id='owl_intervention_completed'>
                <h3>Intervention completed</h3>
                <p class="thispagewillclose">
                    This page will close in 10 sec.
                </p>
            </div>
            <div id='owl_intervention_expired'>
                <h3>Intervention expired</h3>
                <p class="thispagewillclose">
                    This page will close in 10 sec.
                </p>                
            </div>            
            
		</div>
	</center>